<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.Listeners"> </listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>    
       <class name="testcases.Signup_Test"/>
       <class name="testcases.Login_Test"/>
       <class name="testcases.Searchflight_Test"/>       
       <class name="testcases.Roundtrip_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->